/* Checklist
    - animate letter
        - interaction
    - FIX LINKING ON HOME INDEX
     */

/* card animation? */
/* LETTER */
[class^="rectangle-vert"]{
    position:relative;

    width: 20px;
    height: 200px;
    background-color:red;
}
.circle-big-3{
    position:absolute;
    transform: translate(-5px, -5px);

    width:165px;
    height:165px;    
    border-radius:50%;
    border:20px solid red;
}
[class^="letter"] {
    justify-content:end;
    display:flex;
    width:200px;
    height:200px;

    animation: 5s ease-out delivery infinite;

    /* border: solid 1px greenyellow; */

}

/* PINS */
[class^="pin-"]{
    position: relative;

    width: 60px;
    height: 200px;
    border-radius: 30%;
    background-color:white;
    border:solid red;

}

.pin-1{
    animation: 5s cubic-bezier(0.165, 0.84, 0.44, 1) 1s pins infinite;
}
.pin-2{
    animation: 5s cubic-bezier(0.165, 0.84, 0.44, 1) .75s pins infinite;
}
.pin-3{
    animation: 5s cubic-bezier(0.165, 0.84, 0.44, 1) .5s pins infinite;
    
}
.pin-4{
    animation: 5s cubic-bezier(0.165, 0.84, 0.44, 1) .25s pins infinite;
    
}
.pin-5{
    animation: 5s cubic-bezier(0.165, 0.84, 0.44, 1) pins infinite;
    
}
/* PAGE STRUCTURE */
header{
    margin: 2% 20% 2% 20%;
}
h1{
    font-size:5vw;
    font-family: "Rokkitt", serif;
    text-align: center;
    color:red;
}
.lights{
    padding:2%;
    display:block;
    justify-content:center;
    border: 15px dotted, white;
    background-color:blue;

}
.sign{
    display:flex;
    justify-content:center;
    background-color:yellow;

}

.lane{
    display:flex;
    border-bottom: 3vw solid tan;
    margin:20% 0% 20% 0%;
    justify-content: space-between;

}
.deck{
    width:40vw;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    /* border: solid 1px greenyellow; */

}


body{
    margin:5%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    overflow:hidden;

    background: repeating-linear-gradient(
    to right,
    navy,
    navy 3vw,
    mediumblue 3vw,
    mediumblue 6vw
    )
}


/* ANIMATION */
@keyframes delivery {
    0%{
        transform: translate(0,0) rotate(0deg);
    }

    90%{
        transform: translate(100vw, 0) rotate(720deg);
    }
    100%{
        transform: translate(100vw, 0) rotate(720deg);
    }
}


@keyframes  pins{
    0%{
        transform: rotate(0deg);
        transform-origin: bottom left;
    }
    15%{
        transform: rotate(0deg);
        transform-origin: bottom left;
    }
    40%{
        transform: rotate(-90deg);
        transform-origin: bottom left;
    }
    90%{
        transform: rotate(-90deg);
        transform-origin: bottom left;
    }
    100%{
        transform: rotate(0deg);
        transform-origin: bottom left;
        

    }

}