body{
    margin: 0;
    padding: 0;

}
div[class^="letter"] {
    background-color: lightblue;
    border: solid 1px red;
}

.flex-container{
    background-color:aqua;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
}
.triangle-small{
    position:absolute;
    transform: translate(63px, -150px);
    z-index: 10;

    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-bottom: 75px solid blue;
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid red;
}


.trapezoid {
    position: relative;
    z-index: 10;
    transform: translate(25px, -50px);

    height: 0;
    width: 100px;
    border-bottom: 50px solid blue;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    
  }
