/* ZIP STYLING */
#zipForm{
    /* position: absolute;
    top: 50%;
    left:35%; */
    display:flex;
    white-space:nowrap;
    z-index:10;

}
h3{
    font-size:2em;
    margin-block-start:0em;
    margin-block-end:0em;
}
input{
    font-family:"Bricolage Grotesque", sans-serif;
    background-color:rgba(255, 255, 255, .7);
    border:solid black 3px;
    border-radius:10px;
    padding:3%;
    margin-left:5%;
    margin-right:5%;


    line-height:0;
}
button{
    height:40px;
    border-radius: 10px;
    
    font-family:"Bricolage Grotesque";
    font-weight:500;
    border:solid black 3px;
    border-radius:10px;
    padding:3%;

}

/* HEADER STYLING */
#currLocation{
    margin-right:5%;
}
#header{
    /* display:inline-flex; */
    display:none;
    position:absolute;
    top:0;
    width:97%;
    padding:1%;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:center;
    z-index:5;
}
#header span{
    font-size:25px;
    font-weight:500;
    font-variant-numeric: tabular-nums;
    vertical-align: middle;
}
#dateTime, #weather{
    display:inline-flex;
    white-space:nowrap;
}
#weather{
    justify-content:end;
}
.container{
    white-space: nowrap;
    display:inline-block;
    flex-direction:row;
    justify-content: center;
    margin:2%;
}
#header img{
    width: 30px;
    height:30px;
    margin-left:10px;
    margin-right:10px;
    vertical-align:middle;

}

/* SECTION 1 STYLING */
#section1{
    background-image: linear-gradient(180deg, rgb(198,215,240) 52%, rgba(14,51,182,1) 100%);
    background-attachment:scroll;
    background-size:cover;
    background-repeat: no-repeat;
    /* border:solid 1px red; */

    width:100vw;
    height:100vh;

    display:flex;
    flex-flow: column wrap;
    align-content:center;
    justify-content:center;
    z-index:0;
}
#grass{
    position:absolute;
    bottom:-5vmax;
    width:100vw;
    object-fit: cover;
    z-index:5;
}
/* flower styling */
#flower5{
    display:none;
    top:15%;
    left:10%;
    
    z-index:1;
    max-width:35%;
    clip-path:view-box;
}

#flwrContainer{
    display:none;
    width:100vw;
    height:100vh;
    overflow: hidden;
    
}
[id^="flower"] {
    /* display:none; */
    position:absolute;
    max-width:90%
}
#flowerHead1{
    left: 70%;
}
#flowerHead2{
    left:60%;
}
#flowerHead3{
    left:45%;
}
#flowerHead4{
    left:2%;
    z-index:2;
}




/* SECTION 2 STYLING */
.flowerIcon{
    width:4%;
    height:4%;
    margin-top:1%;
    margin-right:3%;
}
h2{
    font-size:3em;
    margin-block-start:0em;
    margin-block-end:0;
}
h4{
    font-size:1.75em;
    margin-block-start:.25em;
    margin-block-end:0;
    font-weight: 500;
}
#country, #meaning, #addInfo, ol{
    letter-spacing:.04em;
    margin:0.25em 0 .5em 0;
}
#country{
    font-size:1.5em;
    font-weight:200;
}
#meaning{
    font-size:2em;
    font-weight:400;
}
#addInfo{
    font-size:1.5em;
    font-weight:200;
}
ol{
    padding-inline-start: 1em;

    font-size:1.5em;
    font-weight:200;
    line-height:1.5em;
}

.heading{
    display:inline-flex;
    flex-flow:row wrap;
    align-items:start;
    width:100%;
    margin-bottom:3%;

}
.textSection{
    display:flex;
    flex-flow:column nowrap;
    margin-left:20vw;
}
.sec2Container{
    margin-bottom:10vh;
}
#section2{
    position:relative;
    color:white;
    margin:0 10vw 0 10vw;
    z-index:5;
}

/* PAGE STYLING */
/* RENEABLE OVERFLOWY IN BODY */
#longStem{
    z-index:1;
    position:absolute;
    top:43%;
    
    left:16%;
}
#bottomGrass{
    background-image: linear-gradient(180deg, rgba(0,168,85,1) 30%, rgba(0,168,85,0) 100%);
    background-size:cover;
    background-repeat:no-repeat;
    /* border: solid 5px red; */
    z-index:5;
    position:relative;

    width:100vw;
    height:30vh;
}
#footer{
    background-image: linear-gradient(0deg, rgba(27,42,94,1) 0%, rgba(56,87,196,0) 75%);
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    margin-left:-10vw;

    width:100vw;
    height:20vh;
}
body{
    background-color:rgb(14,51,182);
    margin:0;
    font-family:'Bricolage Grotesque', Courier, sans-serif;
    overflow-x:hidden;
    overflow-y: hidden;
    overscroll-behavior: none;
}