.hidden{
    display: none;
}
.visible{
    display:block;
}

#food-container{
    position: absolute;
    top:10%;
    left:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    /* background-color:blue; */
}
    /* #food-container:hover .food-img{
        opacity:0;
    }
    #food-container:hover .memory{
        opacity:1;
    }

.food-img, .memory{
    transition: opacity .2s 1s ease-in-out;

} */

.food-img{
    position: fixed;     
    width: 200px;
    height: 200px;
    object-fit: contain;
    /* opacity: 1; */
}

.memory{
    position: fixed;
    width: 175px;
    height: 160px;
    /* opacity: 0; */
    
}



.food-item{
    cursor:pointer;
    padding: 10px;
}

body{
    background-color:lightblue;
}

 /* use css content, menu -> display show, click to reveal */